@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Mali:wght@500&family=Outfit:wght@100;200;500&display=swap');

/*my alternate colors

c66b3d
c4a35a
*/

*{
  background-color: #e5e5dc;
  font-family: 'Karla',sans-serif;
  color: #26495c;
}